*{
	padding: 0;
	margin: 0;
}
h1{
	margin: 10px;
	border-bottom: 1px solid black; 
}
#nav_bar1 ul{
	list-style-type: none;
	margin-left: 1.25em;
	margin-bottom: 1.5em;
}
#nav_bar1 ul li{
	width: 200px;
	margin-bottom: .5em;
	border-right: 1px solid blue;
}
#nav_bar1 ul li a{
	float: left;
	display: block;
	padding: .5em 0 .5em 1.5em;
	text-decoration: none;
}