h1 {
	text-align: center;
	color: #3D0E84
}
input {
	width: 280px;
}
p {
	font-weight: bold;
	margin-bottom: 0px;
    margin-top: 0px;
}
.form-lienhe {
	width: 20%;
	margin: 0 auto;
	border: 1px solid gray;
	height: 850px;
	padding: 40px;
	padding-top: 10px;
}
#input-control {
	width: 80%;
	margin: 15px;
	padding: 10px;
	margin-left: 0;
}
.input {
	width: 470px;
}
.button {
	margin-top: 40px;
	width: 100px;
	height: 50px;
	background-color:#0032FF;
	border-radius: 10px;
	border: 1px solid white;
	color: white;
	float: left;
}
#name, #email, #title{
	height: 20px;
	width: 330px;
	border: 1px solid white;
	background-color: #DDDDDD;
	padding: 20px;
	margin-bottom: 0px;
	margin-top: 15px;
}
#content {
	height: 130px;
	width: 330px;
	background-color: #DDDDDD;
	padding: 20px;
	border: 1px solid white;
	margin-top: 15px;
}
.error {
	color: red;
}