*{
	margin: 0px;
	padding: 0px;
}
/*.box1{
	width: 300px;
	height: 300px;
	border: 2px dashed black;
	padding: 30px;
	margin: 50px;
}
.box2{
	width: 400px;
	height: 100px;
	border: 1px solid blue;
	border-top: 10px dashed red;
	padding-left: 20px;
	padding-top: 50px;
	padding-bottom: 30px;
	padding-right: 100px
}*/
.main{
	width: 800px;
	border: 1px solid black;
	margin: 0 auto; 
}
.left{
	height: 100px;
	border: 1px solid black;
	width: 29.5%;
	float: left;
}
.right{
	height: 100px;
	border: 1px solid black;
	width: 70%;
	float: left;
}