*{
	padding: 0;
	margin: 0;
	text-align: center;
}
.header{
	width: 500px;
	border: 1px solid black;
	margin: 0 auto; 
}
.navigation{
	width: 500px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin: 0 auto; 
}
.main{
	width: 500px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin: 0 auto; 
}
.left{
	width: 29.5%;
	float: left;
	height: 83px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}
.Index{
	padding-top: 32px;
}
.right{
	height: 83px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: 70%;
	float: left;
}
.Content{
	padding-top: 32px;
}
.footer{
	width: 500px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin: 0 auto; 
}