@font-face{
	font-family: "myTestFont";
	src: url('../Amal Baik Free Trial.ttf');
}
.outside{
	border-style: dashed;
    width: 600px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 10px;
    padding-left: 25px;
    padding-right: 45px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.out{
	border-style: solid;
	width: 548px;
	padding-top: 10px;
}
.line1, .line2{
	border-style: dashed;
	width: 500px;
	margin-bottom: 25px; 
	margin-top: 25px;
	margin-left: 10px;
	padding: 10px;
}
.line1{
	font-family: "myTestFont";
	font-size: 40px;
}