#demo1 {
	width: 200px;
	height: 300px;
	border: 2px solid green;
	margin-bottom: 20px;
	border-radius: 30%;
	background-image: linear-gradient(to bottom, #ada, yellow);
}
#demo2 {
	width: 200px;
	height: 200px;
	border: 2px solid green;
	border-radius: 50%;
	box-shadow: 3px 6px 3px black;
	background: url('../image/gree-frog.jpg');
	background-size: cover;
}